.layout {
  position: relative;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
}

.main {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  min-height: calc(100vh - 137px);
}

.trips__wrapper {
  width: 37%;
  height: calc(100vh - 137px);
}

.map__wrapper {
  width: 60%;
  height: calc(100vh - 137px);
}
